<header><ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link active" href="/viaje">Página Inicial</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/listaAeroportos">Todos os Aeroportos</a>
  </li>
</ul>
</header>